# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# VS Code
.vscode/

# Environment variables
.env

# Python cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db